* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

/* html */
.imagem_header {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.logo {
    height: 150px;
}

body {
    position: relative;
    display: grid;
    grid-template-areas:
        "cabeca cabeca"
        "braco braco"
        "corpo corpo"
        "pe pe";
    grid-template-rows: 150px  50px auto auto;
    grid-template-columns: 300px auto;

}

header {
    background-color: black;
    grid-area: cabeca;
    color: white;
}

/* aside*/
aside {
    background-color: black;
    grid-area: braco;
    color: black;
}

.menu_lateral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 2px;
}
.botao_menu {
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
/* aside*/

main {
    background-color: red;
    grid-area: corpo;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

footer {
    background-color: black;
    grid-area: pe;
    color: white;
    padding: 25px;
}

.redes_sociais {
    min-width: 150px;
}

.dados{
    margin-bottom: 10px;
    padding: 10px;
}

.sla {
    margin-top: 25px;
    text-align: center;
}
.mae {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* html */

/* media */
@media only screen and (max-width: 850px) {
    body {
        display: grid;
        grid-template-areas:
            "cabeca"
            "braco"
            "corpo"
            "pe";
        grid-template-rows: 150px 50px auto 250px;
        grid-template-columns: auto;
    }

    .logo {
        height: 150px;
    }

}

@media only screen and (max-width: 450px) {
    body {
        display: grid;
        grid-template-areas:
            "cabeca"
            "corpo"
            "pe";
        grid-template-rows: 150px auto 250px;
        grid-template-columns: auto;
    }

    aside {
        display: none;
    }

    .logo {
        height: 150px;
    }
}

/* media */

/* posicoes */
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda {
    text-align: left;
}

.direita {
    text-align: right;
}

/* posicoes */

.bloco{
    width: 220px;
    background-color: rgb(226, 226, 226);
    border: 3px solid rgb(46, 46, 46);
    border-radius: 10px;
    color: black;
    padding: 30px 50px 30px 40px;
    align-items: center;
}
.bloco h1 {
    font-size: 36px;
    text-align: center;
}
.input_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input_box input {
    width: 100%;
    height: 80%;
    background-color: transparent;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: black;
    padding: 0px 5px 0px 10px;
}
.input_box input::placeholder {
    color: rgb(87, 87, 87);
}

.cadastrar{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(46, 46, 46);
    font-weight: 600;
}

/*
    margin & padding

    1 valor - margin: 20px - Todos os lados
    2 valores - margin: 20px 30px - Em cima e embaixo, dos lados
    3 valores - padding: 20px 10px 30px - Em cima, dos lados, embaixo
    4 valores - margin: 10px 30px 12px 33px - Em cima, direita, embaixo, esquerda
/*
/*.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}*/