*{
    padding: 0;
    margin: 0;
}

/* html */
body{
    display: grid;
    grid-template-areas:
        "cabeca cabeca"
        "braco corpo"
        "pe pe";
        grid-template-rows: 300px auto 400px;
        grid-template-columns: 350px auto;
}

header{
    background-color: black;
    grid-area: cabeca;
    color: white;
}

aside{
    background-color: rgb(66, 66, 66);
    grid-area: braco;
    color: black;
}

main{
    background-color: red;
    grid-area: corpo;
    color: black;
}

footer{
    background-color: black;
    grid-area: pe;
    color: white;
}

.logo{
    height: 300px;
}
/* html */

/* media */
@media only screen and (max-width: 850px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "braco"
        "corpo"
        "pe";
        grid-template-rows: 200px  100px auto 200px;
        grid-template-columns: auto;
    }
    .logo{
        height: 200px;
    }
}
@media only screen and (max-width: 450px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "corpo"
        "pe";
        grid-template-rows: 200px auto 200px;
        grid-template-columns: auto;
    }
    aside{
        display: none;
    }
    .logo{
        height: 200px;
    }
}

/* media */

.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
