* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

/* html */
.imagem_header {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.logo {
    height: 150px;
}

body {
    position: relative;
    display: grid;
    grid-template-areas:
        "cabeca cabeca"
        "braco braco"
        "corpo corpo"
        "pe pe";
    grid-template-rows: 150px  50px auto 450px;
    grid-template-columns: 300px auto;

}

header {
    background-color: black;
    grid-area: cabeca;
    color: white;
}

/* aside*/
aside {
    background-color: black;
    grid-area: braco;
    color: black;
}
.mae {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu_lateral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 2px;
}
.botao_menu {
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
/* aside*/

main {
    background-color: red;
    grid-area: corpo;
    color: black;
}

footer {
    background-color: black;
    grid-area: pe;
    color: white;
    padding: 20px;
}

.redes_socias {
    min-width: 150px;
}

.dados{
    margin-bottom: 10px;
    padding: 15px;
}

.sla {
    margin-top: 20px;
    text-align: center;
}
/* html */

/* media */
@media only screen and (max-width: 850px) {
    body {
        display: grid;
        grid-template-areas:
            "cabeca"
            "braco"
            "corpo"
            "pe";
        grid-template-rows: 150px 50px auto 250px;
        grid-template-columns: auto;
    }

    .logo {
        height: 150px;
    }

}

@media only screen and (max-width: 450px) {
    body {
        display: grid;
        grid-template-areas:
            "cabeca"
            "corpo"
            "pe";
        grid-template-rows: 150px auto 250px;
        grid-template-columns: auto;
    }

    aside {
        display: none;
    }

    .logo {
        height: 150px;
    }
}

/* media */

/* posicoes */
.centro {
    display: flex;
    justify-content: center;
}

.esquerda {
    text-align: left;
}

.direita {
    text-align: right;
}

/* posicoes */

/* card */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
    width: 400px;
    height: 250px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    border: rgb(46, 46, 46) 4px solid;
}

.inf_produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
    width: 300px;
    height: auto;
    font-size: 150%;
    text-align: center;
    margin: 10px;
    border: rgb(46, 46, 46) 4px solid;

}



.preco_produto {
    font-size: 25px;
    padding: 20px;

}

.add_carrinho {
    height: 50px;
    width: 50px;

}

.texto_botao {
    width: 20px;
    height: 50px;
    color: black;
}

.texto_produto {
    height: 200px;
    font-size: 20px;
    width: auto;
    padding: 15px;
    overflow-wrap: break-word;
}

.imagem_produto {
    width: 370px;
}

.mae {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
