* {
    padding: 0;
    margin: 0;
}

/* html */
.imagem_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.imagem_usuario {
    height: 23%;
    width: 23%;
}

body {
    position: relative;
    display: grid;
    grid-template-areas:
        "cabeca cabeca"
        "braco corpo"
        "pe pe";
    grid-template-rows: 300px auto 400px;
    grid-template-columns: 300px auto;

}

header {
    background-color: black;
    grid-area: cabeca;
    color: white;
}

aside {
    background-color: rgb(66, 66, 66);
    grid-area: braco;
    color: black;
}

main {
    background-color: red;
    grid-area: corpo;
    color: black;
}
.logo {
    height: 250px;
}
footer {
    background-color: black;
    grid-area: pe;
    color: white;
    padding: 20px;
}

.mae {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.redes_socias {
    min-width: 150px;
}

.dados{
    margin-bottom: 10px;
}

.sla {
    margin-top: 20px;
    text-align: center;
}
/* html */

/* media */
@media only screen and (max-width: 850px) {
    body {
        display: grid;
        grid-template-areas:
            "cabeca"
            "braco"
            "corpo"
            "pe";
        grid-template-rows: 200px 100px auto 200px;
        grid-template-columns: auto;
    }

    .logo {
        height: 200px;
    }

}

@media only screen and (max-width: 450px) {
    body {
        display: grid;
        grid-template-areas:
            "cabeca"
            "corpo"
            "pe";
        grid-template-rows: 200px auto 200px;
        grid-template-columns: auto;
    }

    aside {
        display: none;
    }

    .logo {
        height: 200px;
    }
}

/* media */

/* posicoes */
.centro {
    display: flex;
    justify-content: center;
}

.esquerda {
    text-align: left;
}

.direita {
    text-align: right;
}

/* posicoes */

.imagem_sobre {
    width: 100%;
    height: auto;
}

.card {
    overflow-wrap: break-word;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    margin: 15px;
    border: rgb(46, 46, 46) 4px solid;
    gap: 20px;
    align-items: center;

}

.imagem {
    flex: 0 0 300px;
}

.texto {
    flex: 1;
    min-width: 250px;
}
