body{
    display: grid;
    grid-template-areas:
        "cabeca cabeca"
        "braco corpo"
        "pe pe";
        grid-template-rows: 200px auto 200px;
        grid-template-columns: 350px auto;
}

header{
    background-color: black;
    grid-area: cabeca;
    color: white;
}
aside{
    background-color: rgb(66, 66, 66);
    grid-area: braco;
    color: black;
}
main{
    background-color: red;
    grid-area: corpo;
    color: black;
}
footer{
    background-color: black;
    grid-area: pe;
    color: white;
}

@media only screen and (max-width: 850px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "braco"
        "corpo"
        "pe";
        grid-template-rows: 200px  100px auto 200px;
        grid-template-columns: auto;
    }
}
@media only screen and (max-width: 450px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "corpo"
        "pe";
        grid-template-rows: 200px auto 200px;
        grid-template-columns: auto;
    }
    aside{
        display: none;
    }
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    background-color: rgb(0, 46, 46);
    width: 400px;
    height: 650px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.imagem_produto{
    width: 350px;
}

.d_produto{
    color: blueviolet;
    font-size: xx-large;

}

.p_produto{
    color: gray;
    font-size: 40px;
}

.botao_produto{
    font-size: 30px;
    background-color: black;
    width: 50%;
    height: 50px;
    text-decoration: none;
    border-radius: 20px;
}

.letra_botao{
    display: block;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}